body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
}

nav {
  background-color: #1e1e1e;
  padding: 15px 0;
  position: sticky;
  top: 0;
  
  border-bottom: 2px solid #4c00ff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

nav ul li a:hover {
  color: #03dac6;
}

header {
  background-color: #4c00ff;
  color: white;
  padding: 10px 10px;
  text-align: center;
  margin: 0;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header p {
  margin-top: 10px;
  font-size: 1.1rem;
  opacity: 0.9;
}

section {
  padding: 20px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  color: #ffffff;
  text-transform: uppercase;
text-align: center;
  padding-left: 15px;
}

.grid-vertical {
display: flex;         
    flex-direction: column; 
    align-items: center;   
    gap: 20px;              
    padding: 20px;
      margin-right: 2000px;  
  
}

.item-skin {
  background-color: #1e1e1e; 
  padding: 10px;            
  border-radius: 8px;        
  text-align: center;        
}

.item-skin img {
  width: 250px;         
  height: 250px;       
  object-fit: cover;    
  border-radius: 5px;   
  transition: transform 0.2s;
  display: block;      
  margin: 0 auto;   
     
}

.item-skin img:hover {
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
  background-color: #1e1e1e;
}
