body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
}

header {
  background-color: #4c00ff;
  color: white;
  padding: 10px 10px;
  text-align: center;
  margin: 0;
}

section {
  padding: 30px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.grid-horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

.grid-vertical {
  display: grid;
  width: 20px;
  height: 20px;
}

img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
}


.container-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin-top: 20px;
  align-items: start; 
}


.container-videos video,
.container-videos iframe,
.trailer iframe {
  width: 100%;
  aspect-ratio: 16 / 9; 
  border-radius: 8px;
  border: 2px solid #333;
  background-color: #000;
  height: auto; 
}


form {
  background-color: #1e1e1e;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-weight: bold;
}

input,
select,
textarea {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;

  background-color: #2c2c2c;
  color: white;
}

button {
  margin-top: 20px;
  padding: 15px;
  background-color: #03dac6;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #018786;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1e1e1e;
  margin-top: 50px;
  color: #777;
}
hr.linha-larga {
  width: 2450px;
  margin-left: -1000px;
}

nav {
  background-color: #1e1e1e;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 2px solid #4c00ff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #03dac6;
}
